<button (click) = "toSignup()">
  signup
</button> 
<button *ngIf="!(authService.user | async)"  (click) = "toLogin()">
  login
</button> 
<button (click) = "toWelcome()">
  welcome
</button> 
<button *ngIf="authService.user | async" (click) = "logOut()">
    logout
   </button>
  
   
   