
<div class= "inbar">
    <h2 >Welcome {{(authService.user | async)?.displayName }}!</h2>
    <div><br>
        
 
      <mat-form-field class="example-container"><!--דרופדאון-->
        <mat-select placeholder="Status to Filter" [(value)]="ifStatus" (selectionChange)="toFilter()">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let status of taskStatus" [value]="status">
            <span *ngIf = "status">Done</span>
            <span *ngIf = "!status">Not Done</span>
          </mat-option>
     </mat-select>
      </mat-form-field>
     
<br>

    <ul>
        <todo *ngFor = "let todo of todos"
        [data] = "todo" ></todo>
      </ul><br>
 <mat-form-field>
   <input [(ngModel)] = "text" matInput type = "text" placeholder="add todo">
 </mat-form-field>
 <button mat-raised-button color="accent" (click) = "addTodo()"> Add Todo </button>

 
 
 
        
 
 
 
 

</div>


