
<p>
    <mat-checkbox  [(ngModel)]="status" (change) = "checkChange()"></mat-checkbox><span></span>
  <span *ngIf= "!showEditField" (click) = "showEdit()" > {{text}}  </span>
  <mat-form-field *ngIf="showEditField" class="example-form ">
    <input [(ngModel)]="text" name="text" matInput >
  </mat-form-field> 
 <button mat-raised-button *ngIf= "showEditField"  color="primary" (click) = "save()"> save</button>
 <button mat-raised-button *ngIf= "showEditField"  color="cancel" (click) = "cancel()"> Cancel</button>
 <button mat-raised-button  color="primary" (click)= "delete()"> Delete</button>
   
</p>
